#nav{
    width: 50%;
    margin-left: 25%;
}
.welcome{
    width: 50%;
    float: left;
}
.download{
    width: 25%;
    margin-left: 25%;
}
#time{
    width: 25%;
    float: left;
}

#today{
    width: 25%;
    float: left;
}
.footer{
    width: 50%;
    margin-left: 25%;
    background-color: black;
    color: white;
    text-align: center;
    justify-items: center;
}

.footer a {
    text-decoration: none;
    color: white;
  }