<!DOCTYPE html>
<head>
    <title>
        LSBU Sensors (FW218) | Emeka
    </title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='logo1.ico') }}"/>
    <script src='https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js'></script>
    <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

    <div id="nav">
        <div class="welcome">
            LSBU Sensors (FW218)
        </div>

        <div id='time'></div>
        <div id='today'></div>
    </div>

    <br>
    <div class="download">
        <form action="/download" name="myForm" id="myForm" method="POST">
            <label for="myfile">Choose a file:</label>
            <select name="myfile" id="myfile">
                {% for file in data %}
                <option value="{{ file }}">{{ file }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Download">
        </form>
    </div>

    <div class="chart-container" style="position: relative; height:10%; width:50%; margin-left: 25%;">
        <canvas id="myChart"></canvas>
    </div>
    <div class="chart-container" style="position: relative; height:30%; width:50%; margin-left: 25%;">
        <canvas id="myChart1"></canvas>
    </div>
    &nbsp;
    &nbsp;
    <div class="footer">
        Designed by Emeka Ugwuanyi
        <a href="https://github.com/emylincon"><i class="fa fa-github"></i></a>
                  &nbsp;
        <a href="https://www.linkedin.com/in/emeka-ugwuanyi-259089121/"><i class="fa fa-linkedin"></i></a>
    </div>


</body>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</html>